.top-nav {
	height: @nav-height;
	overflow: hidden;
	padding-bottom: 10px;
	position: sticky;
	top: var(--header-height);
	transition: height 0.2s ease;
	z-index: 2;
}

body.nav-collapsed {
	.top-nav {
		height: 0;
		padding-bottom: 0;
	}
}

.top-controls {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.toggle-controls {
	align-items: center;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	padding: 0 10px;

	button {
		align-items: center;
		display: flex;
		height: 24px;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: 24px;

		svg {
			height: 16px;
			width: 16px;
		}
	}
}

body.dark-mode {
	.top-nav {
		background: #202124;
	}

	.toggle-controls {
		background: #111;
	}
}

body.light-mode {
	.top-nav {
		background: @WHITE;
	}

	.toggle-controls {
		background: #ccc;
	}
}
