#songPage {
	.page-content {
		padding: 20px;
		padding-bottom: 10px;
		padding-top: 0;
	}

	a.back-button {
		display: block;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.lyrics {
		font-size: 16px;
		line-height: 22px;
		margin: 0 auto;
		max-width: 400px;
	}
}
