#songPage {
    h1 {
        text-align: center;
        margin: 10px;
    }
    p {
        text-align: center;
    }
    a {
        &.back-button {
            margin-top: 10px;
            display: block;
        }
    }

    .go-to-tabs {
        margin-top: 200px;
        a.guitar-tab-link {
            display: block;
            width: 32px;
            margin: 2px auto 0;
        }
        p {
            margin: 3px 0 0;
        }
    }

}
