/*----- Colors -----*/

@WHITE: #ffffff;
@BLACK: #000000;

/*----- General -----*/

body {
	font-family: 'Raleway', serif;
}

h1,
h2,
h3,
h4,
h5,
.title-font {
	font-family: 'Roboto', serif;
}

body {
	margin: 0;
}

body.dark-mode {
	background: #202124;
	color: @WHITE;
}

body.light-mode {
	background: @WHITE;
	color: @BLACK;
}

#content {
	margin: 0 auto;
	margin-bottom: 50px;
	max-width: 768px;
}

/*----- Svg -----*/

body.dark-mode {
	svg {
		fill: @WHITE;
	}
}

body.light-mode {
	svg {
		fill: @BLACK;
	}
}

/*----- Button -----*/

button {
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	text-transform: capitalize;
}

body.dark-mode {
	button {
		background: #666;
		color: @BLACK;

		&.active {
			background: #ccc;
		}

		svg {
			fill: #333;
		}
	}
}

body.light-mode {
	button {
		background: #666;
		color: @WHITE;

		&.active {
			background: #333;
		}

		svg {
			fill: #ccc;
		}
	}
}

/*----- Genre Filters -----*/

.side-scroll-selector {
	display: inline-block;
	max-width: 100%;
	overflow-x: scroll;

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding: 10px;

		li {
			&:not(:last-child) {
				button {
					margin-right: 10px;
				}
			}
		}
	}
}

body.dark-mode {
	.side-scroll-selector {
		background: #111;
	}
}

body.light-mode {
	.side-scroll-selector {
		background: #ccc;
	}
}

/*----- Titles -----*/

h1 {
	font-size: 32px;
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 28px;
	margin: 0;
	text-align: center;
}

/*----- Header -----*/

header {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

body.dark-mode {
	header {
		background: #202124;
	}
}

body.light-mode {
	header {
		background: @WHITE;
	}
}

/*----- Footer -----*/

footer {
	align-items: center;
	bottom: 0;
	display: flex;
	height: 50px;
	justify-content: flex-end;
	left: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	z-index: 1;
}

body.dark-mode {
	footer {
		background: #202124;
	}
}

body.light-mode {
	footer {
		background: @WHITE;
	}
}

/*----- Controls -----*/

.top-controls {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.toggle-controls {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;

	button {
		align-items: center;
		display: flex;
		height: 30px;
		justify-content: center;
		margin-left: 5px;
		margin-right: 5px;
		padding: 0;
		width: 30px;

		svg {
			height: 20px;
			width: 20px;
		}
	}
}

/*----- Links -----*/

a {
	color: inherit;
}

/*----- Text -----*/

body.dark-mode {
	.secondary-text-color {
		color: #ccc;
	}
}

body.light-mode {
	.secondary-text-color {
		color: #666;
	}
}

/*----- Text -----*/

body.dark-mode {
	.bottom-border {
		border-bottom: solid 1px #666;
	}
}

body.light-mode {
	.bottom-border {
		border-bottom: solid 1px #ccc;
	}
}

/*----- Scroll Header -----*/

body.dark-mode {
	.scroll-header {
		background: #666;
	}
}

body.light-mode {
	.scroll-header {
		background: #ccc;
	}
}
