#app {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
}

#container {
  &.dark-mode {
    background: #202124;
    color: white;
  }
  &.light-mode {
    color: black;
  }
}

#genre-filters {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;

    button {
      border: none;
      background: #ccc;
      padding: 5px 10px;
      margin-right: 10px;
    }
    li.active {
      button {
        background: #aaa;
      }
    }
  }
}

header {
  svg {
    height: 20px;
    width: 20px;
  }
}
