button,
.button {
	border-radius: 5px;
	border: none;
	font-size: 12px;
	cursor: pointer;
	padding: 5px 10px;
	text-transform: capitalize;
}

body.dark-mode {
	button,
	.button {
		background: @gray-3;
		color: @BLACK;

		&.active {
			background: @gray-2;
		}

		svg {
			fill: @gray-4;
		}
	}
}

body.light-mode {
	button,
	.button {
		background: @gray-3;
		color: @WHITE;

		&.active {
			background: @gray-4;
		}

		svg {
			fill: @gray-2;
		}
	}
}
