.side-scroll-selector {
	display: inline-block;
	max-width: 100%;
	overflow-x: scroll;

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding: 10px;

		li {
			flex-shrink: 0;

			button {
				white-space: nowrap;
			}

			&:not(:last-child) {
				button {
					margin-right: 10px;
				}
			}
		}
	}
}

body.dark-mode {
	.side-scroll-selector {
		background: #111;
	}
}

body.light-mode {
	.side-scroll-selector {
		background: #ccc;
	}
}
